.car-rental-page {
  font-family: "Montserrat", sans-serif;
  color: #444;
}

.car-search-form {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.car-search-form .form-group {
  margin-bottom: 20px;
}

.car-search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.car-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.car-card .card-img-top {
  height: 200px;
  object-fit: cover;
}

.car-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
